/*
    A template for custom controller skins on gamepadviwer.com, directly ripped from the site
    and modified to use direct HTML references.

    List of parts:
    Controller Base: https://gamepadviewer.com/ps4-assets/base.svgz
    Trigger: https://gamepadviewer.com/ps4-assets/triggers.svgz
    Bumper: https://gamepadviewer.com/ps4-assets/bumper.svgz
    Share/Start: https://gamepadviewer.com/ps4-assets/start.svgz
    "ABXY": https://gamepadviewer.com/ps4-assets/face.svgz
    Joysticks: https://gamepadviewer.com/ps4-assets/sticks.svgz
    Dpad: https://gamepadviewer.com/ps4-assets/dpad.svgz

    I'd highly recommend downloading these directly, then editing them in your vector (or bitmap)
    editor of choice. After that, upload them onto your image host of choice (I typically use Imgur)
    and get a link to a direct image. Once that's done, substitute the image URLs used in the CSS
    code below (betweent the parentheses on the lines containing 'background: url();') with your 
    own custom ones for the corresponding parts and you should be good to go!

    The easiest method to get your custom controller showing up is to copy all of the
    lines below this comment directly into the custom CSS box under the "properties" for
    your controller's object in Streamlabs OBS
*/

/* The Base controller, over which button presses are rendered */
.controller.ds4 {
    background: url(https://gamepadviewer.com/ps4-assets/base.svgz);
}

/* Triggers */
.ds4 .trigger {
    background: url(https://gamepadviewer.com/ps4-assets/triggers.svgz);
}

/* Bumpers */
.ds4 .bumper {
    background: url(https://gamepadviewer.com/ps4-assets/bumper.svgz) no-repeat;
}

/* Share and Start */
.ds4 .back, .ds4 .start {
    background: url(https://gamepadviewer.com/ps4-assets/start.svgz);
}

/*The ABXY (or rather XOTriSquare)*/
.ds4 .button {
    background: url(https://gamepadviewer.com/ps4-assets/face.svgz);
}

/* Joysticks */
.ds4 .stick {
    background: url(https://gamepadviewer.com/ps4-assets/sticks.svgz);
}

/* Dpad */
.ds4 .face {
    background: url(https://gamepadviewer.com/ps4-assets/dpad.svgz);
}